.advantage-section {
  background: #f9f4ec;
  padding: 40px 40px 50px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.advantage-container {
  max-width: 1200px;
  margin: 0 auto;
}

.advantage-body{
  padding: 60px 100px;
  background-color: #FEF9F5;
}
.advantage-container h2 {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}

.advantage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.advantage-card {
  background: #FEF9F5;
  padding: 20px;
  border-radius: 10px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
}

.advantage-card:hover {
  background-color: #F9F4EC;
  border: 1px solid #594d38;
  transform: translateY(-3px);
}
.advantage-card:hover {
  background-color: #F9F4EC;
  border: 1px solid #594d38;
  transform: translateY(-3px);
}


.advantage-card img {
  width: 50px;
  height: 50px;
  background: transparent;
  margin-bottom: 15px;
  border: none;
   mix-blend-mode: multiply; /* removes white bg effect */
  box-shadow: none;
  object-fit: contain;
}

.advantage-card p {
  font-size: 16px;
  color: #000;
  line-height: 1.4;
  margin-left: 10px;
  width: 160px;
}

@media (max-width: 768px) {
  .advantage-body {
    padding: 40px 20px;
  }
  .advantage-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
  }
  .advantage-card img {
  width: 30px;
  height: 30px; 
  }
  .advantage-card p {
    font-size: 12px;
    color: #000;
    line-height: 1.4;
    margin-left: 5px;
    width: 190px !important;
  }
  .advantage-section {
    background: #f9f4ec;
    padding: 40px 20px 50px;
  }
  .advantage-card {
    background: #fef9f5;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    padding: 10px;
    display: flex;
  }

}
