.gcontainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 110px;
}

/* Header */
.gtitle {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-weight: 700;
  margin-bottom: 4px;
  font-family: Frank Ruhl Libre;
}

.gsubtitle {
  color: #666;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  font-family: poppins;
}

/* Grid layout */
.ggrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Card */
.gcard {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gcard h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 14px 0 8px;
  font-family: poppins;
}

.gcard p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1px;
  line-height: 1.5;
  color: #555;
  font-family: poppins;
}

/* Icon box */
.gimageBox {
  width: 100%;
  height: 200px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (max-width: 900px) {
  .ggrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ggrid {
    grid-template-columns: 1fr;
  }

  .gtitle {
    font-size: 32px;
  }
}