.slider {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}


.marqueeTrack {
  display: flex;
  width: calc(200%); /* doubled width for seamless loop */
  height: 100%;
  animation: scrollSlides 30s linear infinite;
}



.slidesWrapper {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out; /* smooth slide */
}

.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
    overflow: hidden;
}



/* Mobile height tweak */
@media (max-width: 768px) {
  .slider {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 17vh !important;
  }
}
