.slider {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.slidesWrapper {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out; /* smooth slide */
}

.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
}





/* Mobile height tweak */
@media (max-width: 768px) {
  .slider {
    height: 70vh;
  }
}
