.reviewslide {
  padding: 80px 100px 130px;
  background: #fef9f5;
}

.reviewSection {
  padding: 40px 50px;
  background: #f9f4ec;
  overflow: hidden;
}

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #111;
  font-family: Sanchez;
}

/* Slider wrapper */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Track */
.sliderTrack {
  display: flex;
  width: calc(120px * 50);  /*Adjust if card width changes */
  animation: scroll 85s linear infinite;
  will-change: transform;
  padding: 16px;
}

/* Cards */
.card {
  background: #fef9f5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 250px;
  margin-right: 20px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.text {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #444;
  font-family: poppins;
}

.profile {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-size: 12px;
  font-weight: 520;
  color: #777;
  font-family: poppins;
}

/* Pause scroll when hovered */
.slider:hover .sliderTrack {
  animation-play-state: paused;
}


/* Keyframes for endless continuous scroll */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .reviewslide {
    padding: 20px 20px 40px;
  }
  .card {
    width: 240px !important;
    padding: 16px;
  }
  .text {
    font-size: 14px;
    margin-bottom: 16px;
    color: #444;
  }
}

@media (max-width: 480px) {
  .reviewSection {
    padding: 40px 20px;
  }
  .card {
    width: 140px;
    font-size: 0.85rem;
  }
  .text {
    font-size: 14px;
    margin-bottom: 16px;
    color: #444;
  }
}
