/* --- Animated Card Section --- */
.animatedCardSection {
  background-color: #FEF9F5; /* Same as the card background for seamless look */
  padding: 100px 50px;
  /* Use flexbox to center and align the cards */
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 60px; /* Add space between the cards */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.card {
  width: 300px;
  height: 200px;
  background: #000000;
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.card:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.border {
  position: absolute;
  inset: 0px;
  border: 2px solid #bd9f67;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.card:hover .border {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.content {
  transition: all 0.5s ease-in-out;
}

.logo {
  height: 35px;
  position: relative;
  width: 33px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.card:hover .logo {
  width: 134px;
  animation: opacity 1s ease-in-out;
}

.logo1 {
  height: 33px;
  position: absolute;
  left: 0;
}

.logo2 {
  height: 33px;
  position: absolute;
  left: 33px;
}

.logoBottomText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  color: #bd9f67;
  padding-left: 8px;
  font-size: 11px;
  opacity: 0;
  letter-spacing: normal;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .logoBottomText {
  opacity: 1;
  letter-spacing: 9.5px;
}

.bottomText {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0px 5px 0px 8px;
  color: #bd9f67;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.card:hover .bottomText {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.trail {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.card:hover .trail {
  animation: trail 1s ease-in-out;
}

/* Animations */
@keyframes opacity {
  0% {
    border-right: 1px solid transparent;
  }
  10% {
    border-right: 1px solid #bd9f67;
  }
  80% {
    border-right: 1px solid #bd9f67;
  }
  100% {
    border-right: 1px solid transparent;
  }
}

@keyframes trail {
  0% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      rgb(189, 159, 103) 100%
    );
    opacity: 0;
  }
  30% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      rgb(189, 159, 103) 100%
    );
    opacity: 1;
  }
  70% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      rgb(189, 159, 103) 100%
    );
    opacity: 1;
  }
  95% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      rgb(189, 159, 103) 100%
    );
    opacity: 0;
  }
}