html {
  scroll-behavior: smooth;
}

/* Add padding to body to account for fixed navbar */
body {
  padding-top: 60px; /* Height of the fixed navbar */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

/* Hide footer on search page */
body.hide-footer #global-footer {
  display: none !important;
}
