/* Root container */
.container {
  font-family: "Inter", sans-serif;
  background: #FEF9F5;
  min-height: 100vh;
  padding-bottom: 80px;
}

/* --- Layout --- */
.contentWrapper {
  display: flex;
  gap: 40px;
  padding: 40px 60px;
  max-width: 1400px;
  margin: 0 auto;
  background: #FEF9F5;
  border-radius: 12px;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* --- Image Gallery --- */
.mainImage {
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.thumbnails {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.thumbnail {
  position: relative;
  max-width: 126px;
  width: 100%;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.activeThumbnail {
  border: 2px solid #bf9860;
  box-shadow: 0 0 10px rgba(191, 152, 96, 0.7);
}
@media (max-width: 480px){
  .mainImage {
      position: relative;
      width: 100%;
      height: 200px !important;
      border-radius: 12px;
      overflow: hidden;
      border: 1px solid #ddd;
  }
  .thumbnail {
  position: relative;
  max-width: 72px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}
}
@media (min-width: 1448px){
  .mainImage {
    position: relative;
    width: 100%;
    max-height: 360px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ddd;
  }
  .thumbnail {
    position: relative;
    max-width: 143px;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .thumbnail:hover {
    transform: scale(1.05);
  }
}


@media (min-width: 1348px){
  .mainImage {
    position: relative;
    width: 100%;
    max-height: 360px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ddd;
  }
  .thumbnail {
    position: relative;
    max-width: 143px;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .thumbnail:hover {
    transform: scale(1.05);
  }
}








/* --- Car Details --- */
.carName {
  font-size: 2.3rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.priceTag {
  color: #555;
  font-weight: 600;
  margin-bottom: 10px;
}

.startingAt {
  font-size: 0.85rem;
  color: #777;
}

.priceValue {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

.priceUnit {
  font-size: 1.2rem;
  color: #555;
}

.description {
  color: #666;
  line-height: 1.5;
  margin-top: 12px;
  margin-bottom: 20px;
}






/* --- Insurance Plans --- */
.insuranceSection {
  margin-top: 16px;
}

.travelConfident {
  font-size: 1.1rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 14px;
}

.plansContainer {
  display: flex;
  gap: 15px;
  margin-bottom: 6px;
  flex-wrap: wrap;
}

.planBox {
  flex: 1;
  min-width: 150px;
  border: 2px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  background: #fff;
}

.planBox:hover {
  border-color: #bf9860;
  box-shadow: 0 0 12px rgba(191, 152, 96, 0.5);
}

.activePlan {
  border-color: #bf9860;
  box-shadow: 0 0 14px rgba(191, 152, 96, 0.7);
}

.planName {
  font-weight: 700;
  font-size: 1.2rem;
}

.planPrice {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
  margin: 4px 0;
}

.planDesc {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.4;
}

.learnMore {
  display: inline-block;
  margin-top: 10px;
  color: #bf9860;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.95rem;
}




/* --- Action Buttons --- */
.actionButtons {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 25px;
}

.bookBtn {
  padding: 16px 40px;
  border: none;
  border-radius: 33px;
  background: #000;
  color: #bdbdbd;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.bookBtn:hover {
  color: #fff;
  transform: scale(1.04);
  box-shadow: 0 0 10px rgba(191, 152, 96, 0.4);
}


@media (max-width: 480px) {
    .rightColumn {
        margin-top: -10px !important;
    }
    .planBox {
      flex: 1;
      min-width: 150px;
      border: 2px solid #ddd;
      padding: 10px 15px;
      border-radius: 10px;
      cursor: pointer;
      transition: border-color 0.3s, box-shadow 0.3s;
      background: #fff;
    }
    .planName {
      font-weight: 700;
      font-size: 16px;
    }

    .planPrice {
      font-size: 16px;
      font-weight: 600;
      color: #000;
      margin: 4px 0;
    }

    .planDesc {
      font-size: 12px;
      color: #777;
      line-height: 1.4;
    }
    .actionButtons {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 15px;
    }

    .bookBtn {
      padding: 12px 130px;
      border: none;
      justify-content: center;
      border-radius: 33px;
      background: #000;
      color: #bdbdbd;
      font-weight: 700;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;
    }
    
}





/* --- Stats Section --- */
.statsSection {
  background: #FEF9F5;
  padding: 60px 120px 20px;
  text-align: center;
}

.statsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.statNumber {
  font-size: 3rem;
  font-weight: 800;
  
  background: linear-gradient(to right, #e5c18e , #e5c18e, #BF9860);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statLabel {
  font-size: 0.9rem;
  font-weight: 600;
  color: #070707;
}
@media (max-width: 480px){
  .statsSection {
    background: #FEF9F5;
    padding: 60px 30px 20px !important;
    text-align: center;
  }
   .statsContainer {
    flex-direction: row !important;
  }
  .statsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px !important;
    max-width: 360px !important;
    margin: 0;
    flex-wrap: wrap;
    
  }
}










/* --- Car Location --- */
.locationSection {
  background: #FEF9F5;
  padding: 60px 0 50px;
  text-align: center;
}

.worldMapContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.worldMapImage {
  object-fit: cover !important;
}

.locationTextContent {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
}

.locationTextContent h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}








/* --- Blur Cards --- */
.blurCardsSection {
  background: #FEF9F5;
  padding: 80px 50px;
}

.blurHeader {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 26px;
}

.blurCardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.blurCard {
  width: 170px;
  height: 170px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: transform 0.3s, filter 0.3s;
}

.blurCardsContainer:hover .blurCard:not(:hover) {
  filter: blur(4px);
  transform: scale(0.95);
  opacity: 0.7;
}

.blurCard:hover {
  transform: scale(1.1) translateZ(10px);
  box-shadow: 0 8px 25px rgba(191, 152, 96, 0.4);
}

.blue {
  background: #bf9860;
  border: 1px solid #d8b480;
  box-shadow: 0 4px 15px rgba(191, 152, 96, 0.4);
}
.green {
  background: #d8b480;
  border: 1px solid #bf9860;
  box-shadow: 0 4px 15px rgba(191, 152, 96, 0.4);
}
.cyan {
  background: #cfb590;
  border: 1px solid #d8b480;
  box-shadow: 0 4px 15px rgba(191, 152, 96, 0.4);
}

.cardTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 6px;
}
.cardSubtext {
  font-size: 1rem;
  opacity: 0.9;
}

@media (max-width: 580px){
  .blurCardsSection {
    background: #FEF9F5;
    padding: 40px 10px;
  }
  .blurHeader {
    text-align: center;
    font-size: 18px !important;
    font-weight: 600;
    color: #333;
    padding: 0px 70px;
    margin-bottom: 16px;
  }
  .blurCard {
    max-width: 150px;
    max-height: 130px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: transform 0.3s, filter 0.3s;
  }
  .blurCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .cardTitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
  }
  .cardSubtext {
    font-size:14px;
    opacity: 0.9;
    text-align: center;
  }
}








/* --- FAQ --- */
.faqSection {
  background: #FEF9F5;
  padding: 0 70px 80px;
}

.faqHeader {
  padding: 40px 50px;
  text-align: left;
}

.faqHeader h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

.faqGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.faqCard {
  background: #f0dec3;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(191, 152, 96, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #d8b480;
}

.faqCard:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 15px 30px rgba(191, 152, 96, 0.5);
  background: #e8d9c0;
}

.faqNumber {
  width: 40px;
  height: 40px;
  background: #bf9860;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(191, 152, 96, 0.4);
  border: 1px solid #d8b480;
}

.faqQuestion {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2a2929;
}

.faqAnswer {
  font-size: 0.95rem;
  color: #555;
}
@media (max-width: 480px){
  .faqGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  .faqHeader {
    padding: 20px 0px 10px !important;
    text-align: center;
  }

  .faqHeader h3 {
    font-size: 20px !important;
    font-weight: 600;
    color: #333;
  }
  .faqSection {
    background: #FEF9F5;
    padding: 0 20px 80px;
  }
  .faqCard {
    background: #f0dec3;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 8px 20px rgba(191, 152, 96, 0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #d8b480;
  }
  .faqNumber {
    width: 20px;
    height: 20px;
    background: #bf9860;
    color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 7px;
    box-shadow: 0 4px 12px rgba(191, 152, 96, 0.4);
    border: 1px solid #d8b480;
  }
  .faqQuestion {
    font-size: 16px;
    font-weight: 600;
    color: #2a2929;
  }

  .faqAnswer {
    font-size: 14px;
    color: #555;
  }
}









/* --- Explore Section --- */
.exploreSection {
  background-color: #FEF9F5;
  padding: 80px 100px;
  text-align: center;
}

.exploreTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 50px;
}

.exploreCardsGrid {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1150px;
  margin: 0 auto;
}

.exploreCardLink {
  text-decoration: none;
  color: inherit;
  flex: 1;
  min-width: 90px;
  max-width: 380px;
  position: relative;
  transition: transform 0.2s ease-out, z-index 0.2s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.exploreCardLink:hover {
  transform: scale(1.05);
  z-index: 10;
}

.exploreCard {
  background: #FEF9F5;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.exploreCard:hover {
  box-shadow: 8px 8px 25px rgba(191, 152, 96, 0.2), 0 0 30px rgba(191, 152, 96, 0.1);
  transform: translateZ(20px);
}

.carRatingBadge {
  position: absolute;
  top: 30px;
  right: 0px;
  background: linear-gradient(to bottom right, #bf9860, #d8b480);
  color: #000;
  padding: 5px 20px 5px 10px;
  border-radius: 5px 0 0 5px;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 5;
  box-shadow: 0 2px 8px rgba(191, 152, 96, 0.4);
  border: 1px solid rgba(191, 152, 96, 0.6);
}

.exploreCardImageWrapper {
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.exploreCardImage {
  object-fit: contain !important;
  position: absolute !important;
  transition: transform 0.3s ease;
}

.exploreCard:hover .exploreCardImage {
  transform: scale(1.05);
}

.exploreCardContent {
  padding: 5px 5px 5px 5px;
  text-align: left;
  flex-grow: 1;
}

.exploreCardTitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
  line-height: 1.4;
}

.carActionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #f0dec3, #dfdfd5);
  border-radius: 8px;
  border: 1px solid rgba(191, 152, 96, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.carPrice {
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-flex;
  align-items: baseline;
}

.carPriceAmount {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}

.carPriceUnit {
  font-size: 0.85rem;
  color: #555;
  margin-left: 5px;
  margin-right: 44px;
}

.bookNowButton {
  background: linear-gradient(to right, #cfb590 0%, #caa572 100%);
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(191, 152, 96, 0.3);
  border: 1px solid rgba(191, 152, 96, 0.5);
}

.bookNowButton:hover {
  background: linear-gradient(to right, #caa572 0%, #cfb590 100%);
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0 4px 12px rgba(191, 152, 96, 0.5);
}

.exploreLoading {
  text-align: center;
  padding: 40px;
  color: #666;
  font-size: 1.1rem;
}

/* --- Loading / Error States --- */
.loading,
.error {
  text-align: center;
  padding: 100px;
  font-size: 1.3rem;
  color: #555;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
  .contentWrapper {
    flex-direction: column;
    padding: 20px;
  }

  .thumbnails {
    justify-content: center;
  }

  .rightColumn {
    margin-top: 20px;
  }

  .statsContainer {
    flex-direction: column;
  }

  .exploreCardsGrid {
    flex-wrap: wrap;
  }
  
  .exploreCardLink {
    min-width: unset;
    width: 48%;
  }
  
  .exploreCardLink:hover {
    transform: scale(1.02);
  }
}

@media (max-width: 768px) {
  .exploreSection {
    padding: 50px 20px;
  }
  
  .exploreCardsGrid {
    flex-direction: column;
    align-items: center;
  }
  
  .exploreCardLink {
    width: 100%;
    max-width: 350px;
  }
  
  .exploreCardLink:hover {
    transform: scale(1.01);
  }
  
  .exploreCardImageWrapper {
    height: 150px;
  }
}
